<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509947645964-20j8m01kkljo14rrunlo1gnef97ru088.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509947645964-20j8m01kkljo14rrunlo1gnef97ru088</string>
	<key>API_KEY</key>
	<string>AIzaSyAzpPaQVxZ-B0vXn-R1gbLtzKskN2-qnYI</string>
	<key>GCM_SENDER_ID</key>
	<string>509947645964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.prudhvisuraaj.app.feedbackApp</string>
	<key>PROJECT_ID</key>
	<string>feedback-app-6399d</string>
	<key>STORAGE_BUCKET</key>
	<string>feedback-app-6399d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509947645964:ios:799bb336a9596f4e9f5e29</string>
</dict>
</plist>